@font-face {
    font-family: "Glyphicons Halflings";
    src: url("../../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}

header {
    background: #f8f8f8;
}

.h1, h1 {
    font-size: 28px;
}

.h3, h3 {
    font-size: 25px;
    line-height: 0.5;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #b2baa1;
}

.navbar-inverse .navbar-brand {
  color: #333;
}

.navbar-inverse .navbar-text {
  color: #333;
}
.navbar-inverse .navbar-nav > li > a {
  color: #333;
}

.navbar-default .navbar-nav > li > a {
  color: 333;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: #b2baa1;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #0c0c0c;
  background-color: #f8f8f8;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: #b2baa1;
}

.navbar-inverse .navbar-link {
  color: #333;
}

col-md-3 {
    background: #f8f8f8;
    color: #333;
}

col-md-9, h1 {
    color: #0c0c0c;
}

.col-md-3 {
    padding-top: 10px;
}

.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 2px;
    border-collapse: separate !important;
    border-spacing: 0;
}
