.rtemsdefine {
    padding: 0 0 0 2em;
}

.rtemscommand {
    padding: 0 0 0 2em;
}

.rtemsoption {
    padding: 0 0 0 2em;
}

.rtemsdefine dt {
	color: #408090;
}

.rtemsdefine dd {
	color: #408090;
}

.rtemscommand {
	border: 1px solid #808b89;
	border-radius: 5px;
	background: #d2e3e0;
	color: #5e6664
}

.rtemsoption dt {
	color: #a87892;
}

/*
 * Special table for RTEMS. Wrap cell contents and vertically align to the top.
 */
table.rtems-table.docutils td {
    white-space: normal;
    vertical-align: top;
}

/*
 * Special table. We do not use this because the format is only for HTML
 * not PDF. Left here as a record.
 */
table.rtems-items-table.docutils:not(.field-list) tr:nth-child(2n-1) td,
table.rtems-items-table.docutils:not(.field-list) tr:nth-child(2n) td {
    background-color: #fcfcfc;
    white-space: normal;
    vertical-align: top;
    border-width: 0;
    padding-right: 5px;
    padding-left: 5px;
}
table.rtems-items-table.docutils:not(.field-list) tr td:nth-child(2n-1) {
    text-align: right;
    margin-right: 0;
}
table.rtems-items-table.docutils:not(.field-list) tr td:nth-child(2n) {
    text-align: left;
}

/*
 * Notes.
 */
.rst-content .note .admonition-title {
    background-color: #38532F;
    color: #fdfdfd;
}
.admonition.note {
    background:#dbe5c6;
    color: #333333;
}

/*
 * Todo
 */
.rst-content .todo .admonition-title {
    background-color: #38532F;
    color: #fdfdfd;
}
.admonition.todo {
    background:#dbe5c6;
    color: #333333;
}

/*
 * Nav side-bar in RTEMS colours.
 */
.wy-nav-top, .wy-nav-top a {
    background-color: #38532F;
    color: #fdfdfd;
}

.wy-side-nav-search {
    background-color: #38532F;
}

.wy-nav-side {
    background-color: #dbe5c6;
    color: #424242;
}

.wy-menu-vertical {
    background-color: #dbe5c6;
    color: #333333;
}
.wy-menu-vertical a {
    background-color: #dbe5c6;
    color: #333333;
}
.wy-menu-vertical a:hover {
    background-color: #38532F;
    color: #fdfdfd;
}

.wy-menu-vertical li.toctree-l1.current>a{
    background:#dbe5c6;
    color: #333333;
}

.wy-menu-vertical li.toctree-l1.current>a:hover{
    background-color: #38532F;
    color: #fdfdfd;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2>a{
    background:#dbe5c6;
    color: #333333;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2>a:hover{
    background-color: #38532F;
    color: #fdfdfd;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2.current>a{
    background:#dbe5c6;
    color: #333333;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2.current>a:hover{
    background-color: #38532F;
    color: #fdfdfd;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2.current li.toctree-l3>a{
    background: #dbe5c6;
    color: #333333;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2.current li.toctree-l3>a:hover{
    background-color: #38532F;
    color: #fdfdfd;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2.current li.toctree-l3 li.toctree-l4>a{
    background: #dbe5c6;
    color: #333333;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2.current li.toctree-l3 li.toctree-l4>a:hover{
    background-color: #38532F;
    color: #fdfdfd;
}

.wy-nav-content a {
    color: #77AD4A;
}

.wy-nav-content a:hover {
    color: #4B6D2F;
}
