.rtemsdefine {
    padding: 0 0 0 2em;
}

.rtemscommand {
    padding: 0 0 0 2em;
}

.rtemsoption {
    padding: 0 0 0 2em;
}

.rtemsdefine dt {
	color: #408090;
}

.rtemsdefine dd {
	color: #408090;
}

.rtemscommand {
	border: 1px solid #808b89;
	border-radius: 5px;
	background: #d2e3e0;
	color: #5e6664
}

.rtemsoption dt {
	color: #a87892;
}

/*
 * Literals.
 */
.rst-content code.literal {
    background: transparent;
    color: #2a8e1d;
    border: 0px;
}

/*
 * Special table for RTEMS. Wrap cell contents and vertically align to the top.
 *
 * Note: this is not working as expected. The white-space: normal cause the
 *       columns in the box to not space correctly. The split in half.
 */
table.rtems-table.docutils {
    table-layout: fixed;
}
table.rtems-table.docutils td {
    vertical-align: top;
    white-space: normal;
}

/*
 * Notes.
 */
.rst-content .note .admonition-title {
    background-color: rgba(66, 97, 55, 0.98);
    color: #fdfdfd;
}
.admonition.note {
    background: #dbe5c6;
    color: #333333;
}
.admonition.note .highlight {
    background: rgba(219, 229, 198, 0.54);
    color: #333333;
}

/*
 * Todo
 */
.rst-content .todo .admonition-title {
    background-color: rgba(66, 97, 55, 0.98);
    color: #fdfdfd;
}
.admonition.todo {
    background: #dbe5c6;
    color: #333333;
}

/*
 * Topic
 */
.topic .topic-title {
    background: rgba(231, 242, 209, 0.33);
    /*background-color: #dbe5c6;*/
    color: #38532F;
}
.topic {
    background: rgba(231, 242, 209, 0.2);
    color: #4040408;
    border: 1px solid rgba(231, 242, 209, 0.33);
}
.topic .highlight pre {
    background: rgba(231, 242, 209, 0.2);
    color: #4040408;
}

/*
 * Warning
 */
.rst-content .warning .admonition-title {
    background-color: rgba(66, 97, 55, 0.98);
    color: #ef6d6d;
}
.admonition.warning {
    background: #dbe5c6;
    color: #333333;
}

/*
 * Nav side-bar in RTEMS colours.
 */
.wy-nav-top, .wy-nav-top a {
    background-color: #38532F;
    color: #fdfdfd;
}

.wy-side-nav-search {
    background-color: #38532F;
}

.wy-nav-side {
    background-color: #dbe5c6;
    color: #424242;
}

.wy-menu-vertical {
    background-color: #dbe5c6;
    color: #333333;
}
.wy-menu-vertical a {
    background-color: #dbe5c6;
    color: #333333;
}
.wy-menu-vertical a:hover {
    background-color: #38532F;
    color: #fdfdfd;
}

.wy-menu-vertical li.toctree-l1.current>a{
    background:#dbe5c6;
    color: #333333;
}

.wy-menu-vertical li.toctree-l1.current>a:hover{
    background-color: #38532F;
    color: #fdfdfd;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2>a{
    background:#dbe5c6;
    color: #333333;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2>a:hover{
    background-color: #38532F;
    color: #fdfdfd;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2.current>a{
    background:#dbe5c6;
    color: #333333;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2.current>a:hover{
    background-color: #38532F;
    color: #fdfdfd;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2.current li.toctree-l3>a{
    background: #dbe5c6;
    color: #333333;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2.current li.toctree-l3>a:hover{
    background-color: #38532F;
    color: #fdfdfd;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2.current li.toctree-l3 li.toctree-l4>a{
    background: #dbe5c6;
    color: #333333;
}

.wy-menu-vertical li.toctree-l1.current li.toctree-l2.current li.toctree-l3 li.toctree-l4>a:hover{
    background-color: #38532F;
    color: #fdfdfd;
}

.wy-nav-content a {
    color: #2a8e1d;
}

.wy-nav-content a:hover {
    color: #4B6D2F;
}
